.section-main {
	display: flex;
	justify-content: center;
	height: 700px;
	width: 100%;
}

.home-background-img {
	height: 720px;
	left: -360px;
	position: relative;
	z-index: -1;
}

.second-column {
	display: flex;
	flex-direction: column;
	margin: 15% 10% 10% 0;
	justify-content: space-between;
}

.two-columns {
	width: 50%;
	height: 270px;
}

// second column

.second-column h1 {
	text-align: center;
	font-weight: 400;
}

.second-column-decoration-text {
	width: 30%;
	margin-left: auto;
	margin-right: auto;
}

.second-colum-button-container {
	display: flex;
	justify-content: space-around;
}

.second-column-button {
	text-transform: uppercase;
	width: 250px;
	height: 100px;
	padding: 20px;
	background-color: transparent;
	border: 1px solid black;
	cursor: pointer;
	font-size: 1.5rem;
	color: $color5;
}

@media all and (max-width: 960px) {
}
