.contact-container {
	height: 800px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.contact-container-background {
	position: absolute;
	opacity: 0.2;
	width: 100%;
	height: 120%;
}

.contact-background {
	display: flex;
	flex-direction: column;
	text-align: center;
	position: relative;
}

.contact-background h1 {
	margin-bottom: 20px;
	font-weight: 400;
}

.contact-background form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contact-background button {
	cursor: pointer;
	width: 130px;
	height: 40px;
	font-size: 1rem;
	margin-top: 50px;
	margin-left: 52%;
	background-color: transparent;
	border: 1px solid $color5;
}

.contact-first-row {
	width: 500px;
	display: flex;
	text-align: left;
}

.contact-first-row input::placeholder {
	opacity: 0.4;
}

.contact-second-row {
	width: 500px;
	display: flex;
	flex-direction: column;
	text-align: left;
}

input,
textarea {
	outline: none;
}

.contact-background .contact-first-row input {
	width: 200px;
	height: auto;
	border: none;
	background: none;
	border-bottom: 1.7px solid $color5;
}

.contact-second-row input {
	width: 450px;
	height: 150px;
}

.text-area-container {
	width: 450px;
	height: 80px;
	resize: none;
	font-family: $font-alt;
}

.contact-second-row input,
.text-area-container {
	background: transparent;
	border: none;
	border-bottom: 1.7px solid $color5;
}

.text-area-container::placeholder {
	opacity: 0.4;
}

.contact-second-content {
	height: 100%;
}

.contact-first-row label,
.contact-second-row label {
	font-weight: 400;
	margin-top: 40px;
}
