.c {
	// margin: 80px 0;
	border: 1px solid black;
}

.header-navBar {
	margin: 20px 100px;
	height: auto;
}

.logPanel {
	display: flex;
	justify-content: flex-end;
	padding: 25px 0;
	height: 80px;
}

.login,
.register {
	padding: 5px;
	margin-left: 5px;
	cursor: pointer;
	background-color: #ffff;
	color: $color4;
	border: 1px solid #ffff;
}

.register:hover,
.login:hover {
	border: 1px solid $color3;
}

ul {
	list-style-type: none;
	display: flex;
	justify-content: flex-end;
	padding: 2% 0;
}

li {
	margin-left: 30px;
	cursor: pointer;
	padding: 5px 12px;
	border: 1px solid #ffff;
}

nav li:hover {
	border: 1px solid $color2;
}

@media all and (max-width: 960px) {
}
