.about-us-columns {
	display: flex;
	justify-content: space-between;
	background-color: $color1;
	height: 100vh;
	align-items: center;
}

.about-us-first-column {
	text-align: center;
	width: 540px;
	margin: 0 6%;
	font-size: 1.5rem;
	line-height: 45px;
}

.about-us-first-column h1, .about-us-first-column img {
	padding-bottom: 15px;
}

.about-us-second-column {
	width: 50vw;
	height: 100vh;
	background-size: cover;
	background-image: url(./../../assets/People.jpg);
}

.about-us-signature {
	width: 150px;
	float: right;
}

@media screen and (max-width: 960px) {
	.about-us-columns {
		flex-direction: column;
		width: 100vw;
		align-items: center;
	}
	.about-us-second-column {
		width: 100vw;
	}
}
