.who-we-help-first-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 40px;
}

.who-we-help-first-container p {
	width: 500px;
	text-align: center;
}

.who-we-help-decoration-text {
	margin: 20px;
	width: 200px;
}

.who-we-help-buttons-container {
	display: flex;
	justify-content: space-around;
}

.who-we-help-buttons {
	width: 160px;
	height: 70px;
	font-size: 1.2rem;
	margin: 20px 50px;
	border: none;
	background-color: #ffff;
}

.who-we-help-buttons:hover {
	border: 1px solid $color5;
	cursor: pointer;
}

.who-we-help-second-container {
	margin: 10px auto;
	display: flex;
	justify-content: center;
}

.who-we-help-second-container h3 {
	font-weight: 400;
}

.who-we-help-second-container td:last-child {
	text-align: right;
}

.who-we-help-second-container td {
	height: auto;
	padding: 20px 0;
	width: 520px;
	border-bottom: 1px solid black;
}

.paginationBttns {
	list-style: none;
	display: flex;
	justify-content: center;
}

.paginationBttns li {
	padding: 10px;
	margin: 8px;
	border-radius: 2px;
	color: $color5;
	cursor: pointer;
	border: 1px solid #ffff;
}

.paginationBttns li:hover {
	border: 1px solid $color4;
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 960px) {
	.who-we-help-first-container {
		text-align: center;
	}
	.who-we-help-buttons-container {
		flex-direction: column;
	}
}
