.footer-container {
	display: flex;
	justify-content: space-around;
	background-color: transparent;
	position: relative;
}

.footer-social {
	width: 100px;
}

.footer-fb, .footer-ig {
    margin: 5px;
    
}

.footer-ig {
}
