.four-steps-container {
	text-align: center;
}

.four-steps-first-row {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2%;
	font-size: 1.5rem;
}

.four-steps-decoration-text {
	padding-top: 2%;
}

.four-steps-second-row {
	background-color: $color1;
	display: flex;
	justify-content: space-around;
}

.four-steps-third-row {
}

.four-steps-box {
	width: 150px;
	margin: 60px;
}

.four-steps-button {
	width: 350px;
	height: 140px;
	font-size: 2rem;
	text-transform: uppercase;
	margin: 60px;
    background-color: #fff;
    cursor: pointer;
    border: 3px solid rgba(0, 0, 0, 0.280);
    color: $color4;
}

.four-steps-button:hover {
    background-color: rgb(240, 240, 240);
}

@media screen and (max-width: 960px) {
	.four-steps-container {
		flex-direction: column;
		width: 100vw;
		align-items: center;
	}
	.four-steps-button {
		font-size: 1.6rem;
		width: 160px;
		height: 90px;
	}
}