@import "./settings/fonts";
@import "./settings/colors";
@import "./home/HomeHeader";
@import "./home/HomeSectionMain";
@import "./home/HomeThreeColumns";
@import "./home/HomeFourSteps";
@import "./home/HomeAboutUs";
@import "./home/HomeWhoWeHelp";
@import "./home/HomeContact";
@import "./home/HomeFooter";
@import "./log-files/LogIn";
@import "./log-files/Register";
@import "./log-files/LogOut";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	color: $color5;
}

body {
	font-family: $font-alt;
	
}

h1 {
	font-size: 2rem;
}

@media all and (max-width: 960px) {
	h1 {
	font-size: 1.5rem;
}
}
